$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

body.home {
  /*background-image: url('../images/home-bg.jpg');
  background-size: 100% auto;*/
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  //border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  //border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 850px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }

  .answers {
    position: relative;
    height : 600px;
  }

  .answers img, .answers h2 {
    position: absolute;
  }

  .answers h2 {
    top: 260px;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 10;
    text-align: center;
  }

  .answers img:hover {
    /*background-color: lightblue;
    border: 1px solid #ddd;*/
  }

  .answers img.topleft {
    top: 0;
    left: 0;
  }

  .answers img.topright {
    top: 0;
    right: 0;
  }

  .answers img.bottomleft {
    bottom: 0;
    left: 0;
  }

  .answers img.bottomright {
    right: 0;
    bottom: 0;
  }

  .btn.ok-ready {
    height: 200px;
    width: 200px;
    font-size: 8em;
  }

  .paragraph-text {
    font-size: 3.5em;
  }

  .paragraph-text-small {
    font-size: 3em;
  }

  .btn.answer-option {
    font-size: 3.0em;
  }

  .btn.start-assessment {
    //margin-top: 80%;
    font-size: 3.5em;
  }

  .btn {
    font-size: 1.6em;
    height: 80px;
  }

  .btn.okbutton {
    min-width: 120px;
  }

  td.correct {
    background-color: green;
    color: white;
  }

  td.incorrect {
    background-color: red;
    color: white;
  }


}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    width: 1200px;
  }

  .answers {
    height: 850px;
  }

  .answers h2 {
    top: 370px;
    font-size: 3em;
  }

  .answers img {
    width: 50em;
    height: auto;
  }

  .answers .col-md-6 {
    min-height: 30em;
  }

  .vcenter {
    height: 850px;
    width: 1200px;
  }
}

@media screen and (min-width: 768px) {
  .vcenter {
    height: 850px;
    width: 768px;
  }

  .answers .col-md-6 {
    min-height: 30em;
  }


}

.vcenter .paragraph-text {
  margin-top: -150px;
}

.vcenter {
  float:none;
  text-align: center;
  display:table-cell;
  vertical-align:middle;
  margin-right:-4px;

}
