<!DOCTYPE html>
<html ng-app="rcaApp" class="{{containerClass}}">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.css" />
    <link rel="stylesheet" href="bower_components/angularjs-dragula/dist/dragula.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default%2CMutationObserver"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-135929474-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-135929474-1');
    </script>
  </head>
  <body ng-controller="AppCtrl as app" class="" ng-class="[currentStateName, {home : doc.location.hash == '#/home'}, {splash : doc.location.hash == '#/'}, {fullscreen : isFullScreen}, {'not-fullscreen' : ! isFullScreen}]">

    <div class="header">
        <div class="app-menu ng-cloak">
            <a ui-sref="home"><img src="images/logo.png" class="logo"></a>
        </div>

        <div class="fullscreen-controls ng-cloak">
            <button class="btn btn-default btn-info" ng-show="isFullScreen === false" ng-click="goFullScreen()"><i class="glyphicon glyphicon-fullscreen"></i>&nbsp;&nbsp;Full Screen</button>
            <a class="home-btn btn btn-default btn-info" ng-show="assessmentLoaded" ng-click="confirmAssessmentExit()"><i class="glyphicon glyphicon-log-out"></i>  Exit Assessment</a>
            <a class="btn btn-default btn-info" data-toggle="modal" data-target="#instructionsModal"><i class="glyphicon glyphicon-book"></i>&nbsp;&nbsp;Instructions</a>
            <a class="btn btn-default btn-info" data-toggle="modal" data-target="#aboutModal"><i class="glyphicon glyphicon-info-sign"></i>&nbsp;&nbsp;About</a>
        </div>
    </div>

    <div id="main-contain" class="container-fluid">
    <div ui-view=""></div>
    </div>

    <div class="footer">
      <div class="container-fluid">
        <p></p>
      </div>
    </div>

  <!-- Assessment Confirm Exit Modal -->

  <div id="confirmExit" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Exit?</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <p>Are you sure you wish to exit this assessment?</p>
          <p ng-if="progressLost">Discard progress and exit.</p>
          <p ng-if="! progressLost">Current Progress has been saved.</p>

        </div>
        <div class="modal-footer">

          <a ng-if="progressLost" class="btn btn-default btn-danger" ui-sref="home" data-dismiss="modal">Discard progress and exit</a>
          <a ng-if="! progressLost" class="btn btn-default btn-danger" ui-sref="home" data-dismiss="modal">Exit this assessment</a>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>

  <!-- Instructions Modal -->

  <div id="instructionsModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Instructions</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">

          <div class="content">
            <ng-include src="'views/instructions-text.html'"></ng-include>
          </div>

        </div>
        <div class="modal-footer">
          <a class="btn btn-default btn-primary" data-dismiss="modal">OK</a>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>

  <!-- About Modal -->

  <div id="aboutModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">About</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">

          <div class="content">
            <ng-include src="'views/about-text.html'"></ng-include>
          </div>

        </div>
        <div class="modal-footer">
          <a class="btn btn-default btn-primary" data-dismiss="modal">OK</a>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>


    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/jspdf/dist/jspdf.debug.js"></script>
    <script src="bower_components/lodash/lodash.js"></script>
    <script src="bower_components/chroma-js/chroma.js"></script>
    <script src="bower_components/bootstrap-switch/dist/js/bootstrap-switch.js"></script>
    <script src="bower_components/angular-bootstrap-switch/dist/angular-bootstrap-switch.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/moment/locale/en-gb.js"></script>
    <script src="bower_components/angular-moment/angular-moment.js"></script>
    <script src="bower_components/raven-js/dist/raven.js"></script>
    <script src="bower_components/raven-js/dist/plugins/angular.js"></script>
    <script src="bower_components/angularjs-dragula/dist/angularjs-dragula.js"></script>
    <script src="bower_components/showdown/src/showdown.js"></script>
    <script src="bower_components/angular-markdown-directive/markdown.js"></script>
    <script src="bower_components/jspdf-autotable/dist/jspdf.plugin.autotable.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <script src="scripts/lib/canvasjs/canvasjs.min.js"></script>

  <script>
    // Raven
    //   .config('https://5d8a65e5588b4f52b0e335b21b83f97b@sentry.di-projects.net/7')
    //   .addPlugin(Raven.Plugins.Angular)
    //   .install();
  </script>

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/about.js"></script>
        <script src="scripts/controllers/setup.js"></script>
        <script src="scripts/services/assessment.js"></script>
        <script src="scripts/controllers/assessment.js"></script>

        <script src="scripts/services/report.js"></script>
        <script src="scripts/services/reporting/sorting.js"></script>
        <script src="scripts/services/reporting/questionnaire.js"></script>
        <script src="scripts/services/reporting/paragraph.js"></script>
        <script src="scripts/services/reporting/sentence1.js"></script>
        <script src="scripts/services/reporting/sentence2.js"></script>
        <script src="scripts/services/reporting/singleWord1.js"></script>
        <script src="scripts/services/reporting/singleWord2.js"></script>

        <script src="scripts/controllers/report.js"></script>
        <script src="scripts/controllers/app.js"></script>
        <script src="scripts/services/storage.js"></script>
        <script src="scripts/controllers/section-intro.js"></script>
        <script src="scripts/controllers/slot-summary.js"></script>
        <script src="scripts/controllers/welcome.js"></script>
        <script src="scripts/controllers/card-sorting.js"></script>
        <!-- endbuild -->

    <!--<script type="text/javascript" src="https://digitalinstitute.atlassian.net/s/5a69cd8b8f20a02917cfdd6c717fc8a7-T/-p6lx3i/72002/6a2ac7610a2d01a048aed7ccf1208eeb/2.0.14/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?locale=en-US&collectorId=8f965d01"></script>-->


  </body>
</html>
