
<div align="center" style="width:800px;margin-left: auto;margin-right: auto;">
  <h1>CARA - About</h1>
  <h3>Morris, Webster, Howard and Garraffa</h3>
  <p>Comprehensive Assessment of Reading in Aphasia (CARA) is...</p>
  <p>This is the about view.</p>
  <br/><br/><br/>
  <p>Developed by the Newcastle University school of Speech and Language Sciences, <br/>in association with the Digital Institute.</p>
</div>
<br/>
<div align="center" style="margin-left: auto; margin-right: auto;">
  <img src="../images/sls-logo.jpg" style="height: 100px; padding-right: 50px;">
  <img src="../images/di-logo.jpg" style="height: 100px;">
</div>
