<div class="container">

  <h1>{{questions[currentSection].name}}</h1>
  <p ng-show="currentSection === 'singleWord-part-1' || currentSection === 'singleWord-part-2'">You will be shown a word, select the answer that relates to that word</p>

  <p ng-show="currentSection === 'sentence-part-1' || currentSection === 'sentence-part-2'">Select the image that is described by the sentence.</p>
  <p ng-show="currentSection === 'paragraph'">Read the following paragraph. You will be asked questions about the content.</p>
  <!--<p ng-show="newSection && sectionType === 'paragraph-2'">Answer the following question about the paragraph you just read.</p>-->
  <ui-view></ui-view>

</div>
