<div ng-show="waiting" class="row">
  <div class="col-md-12" style="text-align: center;">
    <p ng-show="newSection && sectionType === 'single'">You will be shown a word, select the answer that relates to that word</p>
    <p ng-show="newSection && sectionType === 'sentence'">Select the image that is described by the sentence.</p>
    <p ng-show="newSection && sectionType === 'paragraph'">Read the following paragraph. You will be asked questions about the content.</p>
    <p ng-show="newSection && sectionType === 'paragraph-2'">Answer the following question about the paragraph you just read.</p>
    <p><button class="btn btn-primary" ng-click="showNextPage()">Ok, I'm ready.</button></p>
  </div>
</div>
<div ng-hide="waiting" class="row">

  <!--<div class="col-md-12">
    <h1>{{questionType}}</h1>
    <p ng-if="questionType !== 'paragraph'">{{q.q}}</p>
    <p ng-if="questionType === 'paragraph'">{{q.paragraph}}</p>
    <p><button ng-show="hasNext" ng-click="getNext()">Next</button></p>
    <p><button ng-hide="hasNext" >Finish</button></p>
  </div>-->

  <div ng-repeat="q in questions" id="section-{{$id}}">
    <div ng-if="q.assessmentType === 'single'">
      <div ng-repeat="item in q.items" id="page-{{$id}}">
        <h2 style="text-align: center;margin-bottom: 40px;">{{item.question}}</h2>
        <div class="row answers">
          <div class="col-md-4" ng-repeat="answer in item.answers">
            <button class="btn btn-default btn-block" ng-click="setAnswer(item, answer, $index)">{{answer}}</button>
          </div>
        </div>
      </div>
    </div>
    <div ng-if="q.assessmentType === 'sentence'">
      <div ng-repeat="item in q.items" id="page-{{$id}}">
          <h2>{{item.question}}</h2>
        <div class="answers">
          <img ng-class="{topleft: $index === 0, topright: $index === 1, bottomleft: $index === 2, bottomright: $index === 3}" width="400px" ng-src="/images/assessment-images/{{answer.image}}" ng-repeat="answer in item.answers" ng-click="setAnswer(item, answer.text);" />
        </div>
      </div>
    </div>
    <div ng-if="q.assessmentType === 'paragraph'">
      <div ng-repeat="item in q.items">
        <div id="page-{{$id}}">
          <p><strong>{{item.paragraph}}</strong></p>
          <div style="text-align: center;"><button class="btn btn-primary" ng-click="acceptParagraph(item)">Ok</button></div>
        </div>
        <div class="questions">
          <div ng-repeat="question in item.questions" id="page-{{$id}}">
            <p><strong>{{question.question}}</strong></p>
            <div class="row">
              <div class="col-md-4" ng-repeat="answer in question.answers">
                <button class="btn btn-default btn-block" ng-click="setAnswer(question, answer, $index)">{{answer}}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div ng-show="complete">
    Thank you for completing the assessment.
    <button class="btn btn-primary btn-block" ui-sref="home">Back to home</button>
  </div>
</div>
