<div class="section-intro">

  <h1>{{questions[currentSection].name}}</h1>
  <p ng-show="currentSection === 'singleWord-part-1' || currentSection === 'singleWord-part-2'">Read the four words. Try not to read aloud. Select the word <u>closest in meaning</u> to the top word.</p>
  <p ng-show="currentSection === 'singleWord-part-2'">Several may be closely related. Select the word most closely related to the top word.</p>

  <p ng-show="currentSection === 'sentence-part-1' || currentSection === 'sentence-part-2'">Read the sentence. Try not to read aloud. Look carefully at all 4 pictures. Click on the picture that matches the sentence.</p>
  <p ng-show="currentSection === 'paragraph'">Read each paragraph carefully. Try not to read aloud. Answer the questions on each paragraph. At the end of the questions you will be asked a series of questions on the gist of the stories.</p>
  <div ng-show="currentSection === 'paragraph-2'">
    <p>
      Think about the paragraphs you have just read.
      Which couple would you link the following statements to:
    </p>

    <ul>
      <li>Sarah and Adam</li>
      <li>Aisha and Mary</li>
      <li>Both couples</li>
    </ul>
  </div>

  <p ng-show="currentSection === 'reading-scale'">Use the scale to indicate how comfortable you are with each reading activity.</p>

  <!--<p ng-show="newSection && sectionType === 'paragraph-2'">Answer the following question about the paragraph you just read.</p>-->
  <ui-view></ui-view>

</div>
