

    <h2>Getting started</h2>
    On the next page you will have the opportunity to start working with the test. Each time you ‘add’ a participant, the system will give that participant a unique ID. You can then record this and link it to a person. In this way, there is never any identifying information in the system.
    Once you have added a person, you will see the list of sub-tests. You can start wherever you want and complete whichever combination of sub-tests you like. You can also stop and resume the assessment later (once you have completed a particular sub-test), going back to the assessment (using the participant ID) when you choose.
    <h2>Responding</h2>
    Ask the person to make their selection each time either (if using a touchscreen) via pointing, or via a mouse click. The individual or the clinician can move onto the next item using the same technique.
    <h2>Results</h2>
    Once a sub-test is complete the system will save results automatically (recording both accuracy and speed). When you choose, you can ask the system to produce a report which you can download as a pdf file.
    <h2>New participants</h2>
    You can have up to 6 people completing assessments at once. After that, you will need to delete a completed assessment (making sure you have downloaded a completed report) and this will allow you to start with a new participant.

    <h2>Sub-tests</h2>
    <p>The assessment contains the following sub-tests:</p>
    <ul>
      <li>Single Words Part 1: Unrelated Distracters</li>
      <li>Single Words Part 1: Related Distracters</li>
      <li>Sentences Part 1: Simple</li>
      <li>Sentences Part 2: Complex</li>
      <li>Paragraphs</li>
    </ul>
