<div class="home-page-container">
  <div class="row">
<!--    <div class="col-sm-3" ng-repeat="(key, assessment) in assessments | orderObjectBy:'modified':true">-->
    <div class="col-sm-4" ng-repeat="(key, assessment) in assessments">
      <div class="save-slot panel panel-info" ng-class="{'active' : selectedAssessment === $index, 'empty' : assessment === null}">
        <div class="panel-heading">
          <h4 ng-if="assessment === null" class="panel-title">Empty</h4>
          <h4 ng-if="assessment !== null" class="panel-title">Participant ID: {{assessment.name}}<span ng-if="assessment !== null && false" class="pull-right label label-default" ng-class="{'label-success' : assessment.status === 'Complete', 'label-warning' : assessment.status === 'In Progress'}">{{assessment.status || 'In Progress'}}</span></h4>

        </div>
        <div class="panel-body">
          <p ng-if="assessment !== null">Last Modifed: {{assessment.modified | date : 'dd/MM/yyyy HH:mm'}}</p>

          <div class="list-group">
            <button class="list-group-item" ng-repeat="(sectionKey, section) in assessment.questions">
              <span ng-if="section.completed" class=""><i class="glyphicon glyphicon-ok text-success pull-right"></i></span>

              <span ng-click="goFullScreen()" ng-if="sectionKey !== 'singleWord-part-2' && section.completed !== true"><a class="btn-block" ui-sref="assessment.practice({slotId: key, section: sectionKey})">{{section.name}}</a></span>
              <span ng-click="goFullScreen()" ng-if="sectionKey === 'singleWord-part-2' && section.completed !== true"><a class="btn-block" ui-sref="assessment.begin({slotId: key, section: sectionKey})">{{section.name}}</a></span>
              <span ng-click="goFullScreen()" ng-if="section.completed"><span class="btn-block">{{section.name}}</span></span>

            </button>
          </div>

          <div ng-if="assessment === null" class="create-slot">
            <i ng-click="createAssessment(key)" class="glyphicon glyphicon-plus-sign"></i>
            <p>Add new</p>
          </div>

        </div>
        <div class="panel-footer">

          <!-- Empty Slot dummy Button Group -->

          <div class="btn-group btn-group-justified ng-cloak" role="group" aria-label="..." ng-if="assessment === null" style="visibility: hidden;">
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-primary">
                Create Assessment
              </button>
            </div>
          </div>


          <!-- In Progress Button Group -->
          <div class="btn-group btn-group-justified ng-cloak" role="group" aria-label="..." ng-if="assessment !== null">

            <div class="btn-group" role="group">
              <button type="button" class="btn btn-default" ng-click="showDeleteConfirmDialog($event, key)">
                <i class="glyphicon glyphicon-trash"></i> Remove
              </button>
            </div>

            <div class="btn-group" role="group">
              <button ng-disabled="hasCompleteSection(assessment) !== true" class="btn btn-default" ng-click="viewReport($index, assessment)"><i class="glyphicon glyphicon-stats"></i> View Report</button>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- Assessment Customise Modal -->

  <div id="confirmDelete" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Delete?</h4>
        </div>
        <div class="modal-body">
          <p>Are you sure you wish to delete this assessment?</p>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-danger" data-dismiss="modal" ng-click="clearSlot()">Permanently Delete Assessment</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>

    <!-- Required to get context for charting library -->
    <div class="chart-holder" style="display: block; width: 1px; height: 1px; overflow: hidden;">
        <div style="visibility: hidden">
            <div id="singleWord1BarChart" style="height:360px; width:500px;"></div>
        </div>
        <div style="visibility: hidden">
            <div id="singleWord2BarChart" style="height:360px; width:500px;"></div>
        </div>
    </div>

</div>

