<div class="home-page-container">
  <div class="row">
    <div class="col-md-12 vcenter">
      <button ng-click="startAssessment()" class="start-assessment btn btn-primary">Start Assessment</button>
    </div>
  </div>
  <div id="customiseAssessment" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Customise Assessment</h4>
        </div>
        <div class="modal-body">
          <form action="">
            <div class="checkbox" ng-repeat="set in questions">
              <label>
                <input type="checkbox" ng-model="set.selected" ng-checked="set.selected"> {{set.name}}
              </label>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" ng-click="saveAssessmentChanges()">Save changes</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>
</div>

