<div class="section-complete">
  <div ng-hide="allSectionsComplete(assessment)">
    <h2>You have completed this sub-test</h2>
    <h4>You can either continue the test or stop and resume later.</h4>
  </div>
  <div ng-show="allSectionsComplete(assessment)">
    <h2>All sub-tests completed</h2>
    <h4>Select "View report" to download a report.</h4>
  </div>
  <div class="save-slot panel panel-info">
    <div class="panel-heading">
      <h4 ng-if="assessment === null" class="panel-title">Empty</h4>
      <h4 ng-if="assessment !== null" class="panel-title">Participant ID: {{assessment.name}}<span ng-if="assessment !== null && false" class="pull-right label label-default" ng-class="{'label-success' : assessment.status === 'Complete', 'label-warning' : assessment.status === 'In Progress'}">{{assessment.status || 'In Progress'}}</span></h4>

    </div>
    <div class="panel-body">
      <!--<textarea name="" id="" cols="30" rows="10">{{assessment}}</textarea>-->
      <p ng-if="assessment !== null">Last Modified: {{assessment.modified | amCalendar}}</p>

      <div class="list-group">
        <button class="list-group-item" ng-if="sectionKey !== 'paragraph-2' && sectionKey !== 'reading-scale-2'" ng-repeat="(sectionKey, section) in assessment.questions">
          <span ng-if="section.completed" class=""><i class="glyphicon glyphicon-ok text-success pull-right"></i></span>
          <span ng-if="sectionKey !== 'singleWord-part-2' && section.completed !== true"><a class="btn-block" ui-sref="assessment.practice({slotId: slotId, section: sectionKey})">{{section.name | questionniare}}</a></span>
          <span ng-if="sectionKey === 'singleWord-part-2' && section.completed !== true"><a class="btn-block" ui-sref="assessment.begin({slotId: slotId, section: sectionKey})">{{section.name | questionniare}}</a></span>
            <span ng-if="section.completed"><span class="btn-block">{{section.name | questionniare}}</span></span>
        </button>
      </div>

    </div>
    <div class="panel-footer">


      <!-- In Progress Button Group -->
      <div class="btn-group btn-group-justified ng-cloak" role="group" aria-label="..." ng-if="questions !== null">

        <div class="btn-group" role="group">
          <button ng-click="document.webkitCancelFullScreen()" class="btn btn-default" ui-sref="home"><i class="glyphicon glyphicon-stop"></i>&nbsp; Stop test &amp; resume later</button>
        </div>

        <div class="btn-group" role="group">
          <button ng-disabled="hasCompleteSection(assessment) !== true" class="btn btn-default" ng-click="viewReport($index, assessment)"><i class="glyphicon glyphicon-stats"></i> View Report</button>
        </div>

      </div>

    </div>

      <!-- Required to get context for charting library -->
      <div class="chart-holder" style="display: block; width: 1px; height: 1px; overflow: hidden;">
          <div style="visibility: hidden">
              <div id="singleWordSummary" style="height:360px; width:500px;"></div>
          </div>
          <div style="visibility: hidden">
              <div id="sentenceSummary" style="height:360px; width:500px;"></div>
          </div>
          <div style="visibility: hidden">
              <div id="paragraphSummary" style="height:360px; width:500px;"></div>
          </div>
          <div style="visibility: hidden">
              <div id="overallSummary" style="height:360px; width:500px;"></div>
          </div>
      </div>


  </div>
</div>


