<div class="container">
    <img src="images/logo_authors.png" class="logo-authors">
    <p class="text-center"><a class="btn btn-primary btn-lg" ui-sref="{{getStartedSref || 'home'}}" role="button">Get Started <i class="glyphicon glyphicon-circle-arrow-right"></i></a></p>
  <div align="center" style="width:800px;margin-left: auto;margin-right: auto;">
    <p>This assessment is designed to provide a profile of reading comprehension in aphasia, investigating reading comprehension at the single word, sentence and paragraph level. CARA has been designed to be used by and the results interpreted by a professional with an understanding of cognitive and specifically linguistic processing.</p>
    <p>Administration instructions are within the accompanying manual, along with rationale and detailed description of the assessment and materials. Additionally, there are assessments of reading aloud and of the individual’s perception of their reading ability.</p>
  </div>
</div>
