<div class="container">
  <div class="jumbotron" style="background-image: url('/images/open-book.jpg');background-size: cover;color: #fff;">
    <h1>Reading Comprehension Assessment</h1>
    <p><a class="btn btn-primary btn-lg" ui-sref="home" role="button">Get Started <i class="glyphicon glyphicon-circle-arrow-right"></i></a></p>

  </div>
  <div class="row">
    <div class="col-md-4 text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis volutpat ex facilisis, ultrices
      felis sed, dignissim massa. Sed at blandit ligula. Fusce auctor nunc lacus, quis porta metus pretium quis. Donec
      dignissim tristique sagittis. Suspendisse sit amet ipsum vel augue faucibus aliquet non vel arcu. Sed metus lorem,
      scelerisque ac felis eget, semper vehicula elit.

    </div>
    <div class="col-md-4 text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis volutpat ex facilisis, ultrices
      felis sed, dignissim massa. Sed at blandit ligula. Fusce auctor nunc lacus, quis porta metus pretium quis. Donec
      dignissim tristique sagittis. Suspendisse sit amet ipsum vel augue faucibus aliquet non vel arcu. Sed metus lorem,
      scelerisque ac felis eget, semper vehicula elit.

    </div>
    <div class="col-md-4 text-justify">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis volutpat ex facilisis, ultrices
      felis sed, dignissim massa. Sed at blandit ligula. Fusce auctor nunc lacus, quis porta metus pretium quis. Donec
      dignissim tristique sagittis. Suspendisse sit amet ipsum vel augue faucibus aliquet non vel arcu. Sed metus lorem,
      scelerisque ac felis eget, semper vehicula elit.
    </div>
  </div>
</div>
