<div class="container">
  <div class="jumbotron" style="background-image: url('images/open-book.jpg');background-size: cover;color: #fff;">
    <h1>CARA: Comprehensive Assessment of Reading in Aphasia</h1>
    <p><a class="btn btn-primary btn-lg" ui-sref="{{getStartedSref || 'home'}}" role="button">Get Started <i class="glyphicon glyphicon-circle-arrow-right"></i></a></p>

  </div>
  <div class="row">
    <div class="col-md-4 text-justify">This assessment is designed to provide a profile of reading comprehension in aphasia, investigating reading comprehension at the single word, sentence and paragraph level. CARA has been designed to be used by and the results interpreted by a professional with an understanding of cognitive and specifically linguistic processing.

    </div>
    <div class="col-md-4 text-justify">Administration instructions are within the accompanying manual, along with rationale and detailed description of the assessment and materials. Additionally, there are assessments of reading aloud and of the individual’s perception of their reading ability.


    </div>
    <div class="col-md-4 text-justify">

    </div>
  </div>
</div>
